* {
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    box-sizing: border-box;
}
body{
    background-color: #eed7f1;
}

.content{
    padding: 1rem;
    background-color: #FFF;
    height: 100vh;
    width: 100vw;
    max-width: 1200px;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}

