
.conteudo {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 20px;
  font-style: normal;
  color: rgb(165, 124, 241);
}

.tamanho-fonte {
    font-size: 2em;
}

div {
    font-size: 32px;
}
/* Backgrounds */
/* Background-repeat" serve para controlar a repetição da imagem, ou seja, se a imagem deve ser repetida ou não. O valor padrão é repeat,  */
/* o que significa que a imagem será repetida tanto horizontalmente quanto verticalmente para preencher o espaço disponível. Se você quiser evitar a repetição da imagem,pode usar o valor no-repeat. */

/* Background-attachment serve para controlar o comportamento da imagem de fundo em relação à rolagem da página. O valor padrão é scroll,
o que significa que a imagem de fundo se move junto com o conteúdo da página quando você rola para baixo ou para cima. Se você quiser que a imagem de fundo permaneça fixa no lugar, mesmo quando a página é rolada, pode usar o valor fixed. */

/* Background position serve para controlar a posição da imagem de fundo dentro do elemento. Você pode usar palavras-chave como top, bottom, left, right ou center para posicionar a imagem.  */
/* Além disso, você também pode usar valores de porcentagem ou unidades de comprimento para especificar a posição exata da imagem. Por exemplo, background-position: 50% 50%; centraliza a imagem tanto horizontalmente quanto verticalmente dentro do elemento. */

.background {
    /* background-color: rgb(0, 0, 0);
      background-image: url('yoshi.png');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: right center; */
    background: rgb(182, 182, 247) url('yoshi.png') no-repeat fixed right center;
}