body {
  background-color: rgb(231, 236, 238);
}

#topo {
    background-color: blue;
}

#conteudo {
    background-color: red;
}

.img {
    height: 200px;
}
.produto {
    background-color: rgb(75, 160, 235);
    margin: 10px;
    padding: 30px;
}
.azul {
    color: blue;
}
    
